<h1>Hi <%= @user.username %></h1>,

<p>
  You've asked us to reset your password. Click reset link to set up new password:
</p>

<a href=""><%= edit_password_reset_url(@user.reset_token, email: @user.email) %></a>

<p>
  (If link is not working, please copy it and paste it directly into your browser.)
</p>

<p>
  This link is active only for 2 hours. If you didn't want to reset your password, please ignore this message. Your password won't be changed.
</p>
