.modal.fade#loginModal{:tabindex => -1, :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}}
          %span &times;
        %h3.modal-title#myModalLabel#loginTitle Log in 
        = link_to "(You don't remember your password?)", new_password_reset_path
      .modal-body 
        = render "shared/form", :resource => :session, :id => "loginModalForm", :url => login_path 
        %div
          First time on the page?
          %a#closeLoginModal Sign up
        %em.emailReq (*) It will not be published



          
        
        