.modal.fade#signupModal{:tabindex => -1, :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}}
          %span &times;
        %h3.modal-title#myModalLabel Sign up
      .modal-body
        = render "shared/form", :resource => :user, :id => "signupModalForm", :url => signup_path 
        #div
          You already have an account?
          %a#closeSignupModal Log in
        %em.emailReq (*) It will not be published
