.jumbotron.showJumbo
  .container
    %h1.showHead Edit your court
    = render "form", court: @court

/ %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCHvA_HeK-Kj5bULpf9VkGl5SFGgyp3Fu8&libraries=places"}
/   :cdata
