.jumbotron#landingJumbotron
  .container#landingContainer
    %h1 PlayBall
    %p.lead Find the closest, the best court to play b-ball!
    %hr
    %a{:href => "/courts"}
      %button.btn.btn-lg.btn-default#landingButton Begin!
