#landingJumbotron.jumbotron
  #landingContainer.container
    %h1 PlayBall
    %p.lead Find the closest, the best court to play b-ball!
    %hr
    = link_to "Begin!", courts_path, id: "landingButton", class: "btn btn-lg btn-default"
    // %a#landingButton.btn.btn-lg.btn-default{:href => "/courts"} Begin!
