#landingJumbotron.jumbotron
  #landingContainer.container
    %h1 Edit
    %p.lead Find the closest, the best court to play b-ball!
    %hr/
    %a{:href => "/courts"}
      %button#landingButton.btn.btn-lg.btn-default Begin!
