#landingJumbotron.jumbotron
  #landingContainer.container
    %h1 PlayBall
    %p.lead Find the closest, the best court to play b-ball!
    %hr
    %a#landingButton.btn.btn-lg.btn-default{:href => "/courts"} Begin!
