#loginTitle {
  margin-bottom: 5px;
}

.modal-content {
  text-align: center;
}

// .control-label.rememberLabel {
//   text-align: left;
//   padding: 0; 
// }

// .rememberBox {
//   padding: 0 0 0 5px;
//   margin-left: 5px;
// }

.emailReq {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.85em;
}


