#loginButton, #signupButton, #closeSignupModal, #closeLoginModal {
  cursor: pointer;
}

.btn-wide {
  width: 100%;
}

.commentButtons {
  float: right;
  .commentActions {
    float: right;
    margin: 0.1em;
  }
}

.courtButtons {
  margin-bottom: 2em;
}

// USER EDIT PAGE

#uplPic {
  margin: 0.5em auto;
  padding: 0 0 0 6em;
}

#changeGravatar {
  font-style: italic;
  margin: 1em 0 0.3em;
}