.fa {
  top: 3px;
  .fa-check-circle-o {
  color: #449D44;
  }
  .fa-times-circle-o {
  color: #C9302C;
  }
}

em {
  text-align: left;
}

// USER SIGNUP PAGE
.signupOption {
  display: inline-block;
  margin-top: 1em;
}