// LANDING PAGE
#landingJumbotron {
  background: image-url("ball.jpg") fixed no-repeat;
  // background: url(<%= asset_data_uri 'ball.jpg' %>)
  // background: url(<%= asset_data_uri "ball.jpg" %>) fixed no-repeat;
  // background: url("ball.jpg") fixed no-repeat;
  // background: url("https://michal88-bucket.s3-eu-west-1.amazonaws.com/uploads/ball.jpg") fixed no-repeat;
  background-position-y: 30%;
  @include bg-cover;
  height: 100vh;
  margin-bottom: 0;
}


// COURTS - INDEX PAGE
#courtsMainJumbo {
  background: image-url("shot.jpg") no-repeat;
  // background: url("shot.jpg") no-repeat;
  @include bg-cover;
  height: 80vh;
  margin-bottom: 0;
}

#courtsContentJumbo {
  margin-top:0;
  margin-bottom:0;
}

.showJumbo {
  padding-top: 10px;
}