// FLASH MESSAGES AND ERRORS
#flash-messages {
  background: #EEE;
  position: static;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.home_page_flash {
  background: none;
  .col-xs-10 {
    position: absolute;  
  }
}

.alert{
  margin-bottom: 0;
  margin-top: 20px;
}

#error_explanation {
  margin: 0 0 30px 0;
}