#loginButton, #signupButton, #closeSignupModal, #closeLoginModal {
  cursor: pointer;
}

.btn-wide {
  width: 100%;
}

.commentButtons {
  float: right;
  .commentActions {
    float: right;
    margin: 0.1em;
  }
}