$black-shadow: 1px 2px 3px black;
$def-col: #fff;

$pale-gold: #C0B283;
$silk: #DCD0C0;
$paper: #F4F4F4;
$charcoal: #373737;

@import url('https://fonts.googleapis.com/css?family=Raleway:700');
@import "font-awesome";

@mixin bg-cover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin box-shdw{
  box-shadow: unset;
  -webkit-box-shadow: unset;
}


// DEFAULT STYLING
body {
  padding-top: 50px;
}

.container {
  text-align: center;
}

.no-center {
  text-align: left;
}

h3 {
  margin-top: 10px;
}

.clear {
  clear: both;
}

// LANDING PAGE
#landingJumbotron {
  background: url("https://michal88-bucket.s3-eu-west-1.amazonaws.com/uploads/ball.jpg") fixed no-repeat;
  background-position-y: 30%;
  @include bg-cover;
  height: 100vh;
  margin-bottom: 0;
}

#landingContainer {
  color: $pale-gold;
  text-align: center;
  margin-top: 20vh;
  text-shadow: $black-shadow;
  // a {
  //   text-shadow: none;
  //   background-color: $pale-gold;
  //   border: none;
  //   &:hover {
  //     background-color: darken($pale-gold, 20%); 
  //   }
  // }
  h1 {
    font-size: 10em;
  }
}

hr {
  border: 0; 
  height: 1px;
  width: 45%;
  background-color: $pale-gold;
}

// FLASH MESSAGES AND ERRORS
#flash-messages {
  background: $silk;
  position: static;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.alert{
  margin-bottom: 0;
  margin-top: 20px;
}

#error_explanation {
  margin: 0 0 30px 0;
}

.showJumbo {
  padding-top: 10px;
  background-color: $silk;
  margin-bottom: 0;
}

.showHead {
  margin-bottom: 20px;
}

// NAV-BAR

.navbar, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .dropdown-menu>li>a, ul.dropdown-menu {
  background-color: $charcoal;
  color: $pale-gold;
  border: none;
  &:hover, &:focus {
    background-color: $charcoal;
    color: darken($pale-gold, 20%);
  }
}

.dropdown-menu .divider {
  background-color: $pale-gold;
}

.navbar-default .navbar-nav>li>a {
    color: $pale-gold;
    &:hover, &:focus {
      color: darken($pale-gold, 20%);
    }
  }

#logo {
  font-size: 2.1em;
  letter-spacing: -1px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: $pale-gold;
  &:hover {
    color: darken($pale-gold, 20%);
  }
}

#loginButton, #signupButton, #closeSignupModal, #closeLoginModal {
  cursor: pointer;
}

#loginTitle {
  margin-bottom: 5px;
}

.modal-content {
  text-align: center;
}

// .control-label.rememberLabel {
//   text-align: left;
//   padding: 0; 
// }

// .rememberBox {
//   padding: 0 0 0 5px;
//   margin-left: 5px;
// }

.checkbox.inline {
  margin-top: -10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.checkbox.inline.regForm {
    margin-top: 0px;
}

#session_remember, #user_remember {
  width: auto;
  margin-left: 0;
}


.emailReq {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.85em;
}

.btn-wide {
  width: 100%;
}

// .btn-info {
//   background-color: $charcoal;
//   border: none;
//   color: $pale-gold;
//   &:hover {
//     color: $pale-gold;
//     background-color: darken($charcoal, 10%);
//   }
// }

// .btn-danger {
//   border: none;
// }

// .btn-warning {
//   background-color: darken($silk, 30%);
//   border: none;
//   &:hover {
//     background-color: darken($silk, 40%);
//   }
// }

// USER EDIT PAGE

#uplPic {
  margin: 0.5em auto;
  padding: 0 0 0 6em;
}

#changeGravatar {
  font-style: italic;
  margin: 1em 0 0.3em;
}

// USER SIGNUP PAGE

  #signupOption {
    margin-top: 1em
  }

// FORM VALIDATION
.fa {
  top: 3px;
  .fa-check-circle-o {
  color: #449D44;
  }
  .fa-times-circle-o {
  color: #C9302C;
  }
}

em {
  text-align: left;
}

// COURTS - INDEX PAGE
#courtsMainJumbo {
  background: url("https://michal88-bucket.s3-eu-west-1.amazonaws.com/uploads/shot.jpg") no-repeat;
  @include bg-cover;
  height: 80vh;
  margin-bottom: 0;
}

#courtsContentJumbo {
  background-color: $silk;
  margin-top:0;
  margin-bottom:0;
  #courtsContentContainer {
    .thumbnail {
      color: $charcoal;
      background-color: darken($silk, 10%);
      border: none;
      box-shadow: 1px 1px 4px 1px $charcoal;
    }

  }
}

.thumbnail, .well.commentWell, .thumbnail.hvr-grow {
  color: $charcoal;
  background-color: darken($silk, 10%);
  border: none;
  box-shadow: 1px 1px 4px 1px $charcoal; 
}

#courtsMainContainer {
  >h1, >p {
    color: $paper;
    text-shadow: $black-shadow;
  }
  >h1 {
    padding-top: 2em;
  }
  >p {
    padding-top: 3em;
  }
}

.btn-success {
  background-color: $charcoal;
  border: none;
  color: $pale-gold;
  &:hover {
    background-color: darken($charcoal, 10%);
    color: $pale-gold;
  }
}

.thumbnail {
  width: 100%;
  >img {
    height: 200px;
  }
}

#showImg {
  padding: 0;
  margin-bottom: 15px;
}

@media (min-width: 500px) {
    .thumbnail {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .thumbnail {
        width: 100%;
    }
    #showImg {
      padding: 0 15px;
      margin-bottom: 0;
    }
}

// GROW ANIMATION FOR COURTS - INDEX/SHOW PAGE
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  &:hover, &:focus, &:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

// COURTS - SHOW PAGE
.caption {
  margin-bottom: 1em;
  p {
    font-size: 100%;
  }
  .courtParagraph {
    font-size: 21px;
    margin-top: 1em;
  }
}

.courtButtons {
  margin-bottom: 2em;
}

.well {
  padding-bottom: 0.5em;
  overflow-wrap: break-word ;
  p {
    font-size: 150%;
  }
  img {
    margin-bottom: 1em;
  }
}

.showUserPgn {
  margin: 5px 0 10px 0;
}


.commentButtons {
  float: right;
  .commentActions {
    float: right;
    margin: 0.1em;
  }
}

.commentAvatar {
  img {
    max-height: 70px;
    max-width: 70px;
    width: auto;
    height: auto;
  }
}


.commentDate {
  float: right;
  margin-bottom: 0.7em;
}



#map {
  height: 100%;
}

#mapDiv {
  padding: 0;
}


// COURTS - SHOW PAGE - ADD COMMENT FIELD
.addComment, .edtComment {
  background: #fff;
  border: 2px solid #5BC0DE;
  display: none;
  padding:0;
  &:hover {
    border: 2px solid #31B0D5;
    .btn-wide {
      border: none;
      background-color: #31B0D5;
    }
    .closeComment {
      opacity: .5;
    }
  }
  #textAreaComment-error{
    color: #C9302C;
    font-size: 0.9em;
    float: left;
    margin: 0 0 3px 3px;
  }
  textarea{
    padding-bottom: 0;
    width: 100%;
    border: none;
    resize: none;
  }
  .form-control:focus {
    @include box-shdw;                                                                                        
  }
  .closeComment, {
    display: none;
    position: absolute;
    font-size: 3em;
    color: rgb(49, 176, 213);
  }
  .closeEdtComment {
    position: absolute;
    font-size: 3em;
    color: #eea236;
  }
  .btn-wide {
    border-radius: 0;
    border: none;
    &:hover {
      border: none;
    }
  }
  .form-group{
    margin-bottom: 0;
  }
}

.edtComment {
  border: 2px solid #f0ad4e;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  // .edtHeight {
  //   height: 46px !important;
  // }
  .btn-wide{
    border: none;
    background-color: #f0ad4e
  }
  .closeEdtComment {
    display: none;
    opacity: .5;
  }
  &:hover {
    border: 2px solid #eea236;
    .btn-wide {
      background-color: #eea236;
    }
    .closeEdtComment{
      opacity: .8;
    }
  }
}
