$black-shadow: 1px 2px 3px black;
$def-col: #fff;

@mixin bg-cover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin box-shdw{
  box-shadow: unset;
  -webkit-box-shadow: unset;
}


// DEFAULT STYLING
body {
  padding-top: 50px;
}

.container {
  text-align: center;
}

.no-center {
  text-align: left;
}

textarea {
  resize: none;
}

h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.clear {
  clear: both;
}

// LANDING PAGE
#landingJumbotron {
  background: url("https://michal88-bucket.s3-eu-west-1.amazonaws.com/uploads/ball.jpg") fixed no-repeat;
  background-position-y: 30%;
  @include bg-cover;
  height: 100vh;
  margin-bottom: 0;
}

#landingContainer {
  color: $def-col;
  text-align: center;
  margin-top: 20vh;
  text-shadow: $black-shadow;
  button {
    background-color: darken($def-col, 10%);
    border: none;
    &:hover {
      background-color: darken($def-col, 20%); 
    }
  }
  h1 {
    font-size: 10em;
  }
}

hr {
  border: 0; 
  height: 1px;
  width: 45%;
  background: darken($def-col, 40%);
}

// FLASH MESSAGES AND ERRORS
#flash-messages {
  background: #EEE;
  position: static;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.alert{
  margin-bottom: 0;
  margin-top: 20px;
}

#error_explanation {
  margin: 0 0 30px 0;
}

.showJumbo {
  padding-top: 10px;
}

.showHead {
  margin-bottom: 20px;
}

// NAV-BAR
#loginButton, #signupButton, #closeSignupModal, #closeLoginModal {
  cursor: pointer;
}

.modal-content {
  text-align: center;
}

.emailReq {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.85em;
}

.btn-wide {
  width: 100%;
}

// FORM VALIDATION
.fa {
  top: 3px;
  .fa-check-circle-o {
  color: #449D44;
  }
  .fa-times-circle-o {
  color: #C9302C;
  }
}

em {
  text-align: left;
}

// COURTS - INDEX PAGE
#courtsMainJumbo {
  background: url("https://michal88-bucket.s3-eu-west-1.amazonaws.com/uploads/shot.jpg") no-repeat;
  @include bg-cover;
  height: 80vh;
  margin-bottom: 0;
}

#courtsContentJumbo {
  margin-top:0;
  margin-bottom:0;
}

#courtsMainContainer {
  >h1, >p {
    color: white;
    text-shadow: $black-shadow;
  }
  >h1 {
    padding-top: 2em;
  }
  >p {
    padding-top: 3em;
  }
}

.thumbnail {
  width: 100%;
  >img {
    height: 200px;
  }
}

@media (min-width: 500px) {
    .thumbnail {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .thumbnail {
        width: 100%;
    }
    #showImg {
      padding: 0 15px;
      margin-bottom: 0;
    }
}

// GROW ANIMATION FOR COURTS - INDEX/SHOW PAGE
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  &:hover, &:focus, &:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

// COURTS - SHOW PAGE
.caption {
  p {
    font-size: 100%;
  }
  .courtParagraph {
    font-size: 21px;
  }
}

.well {
  padding-bottom: 2em;
  overflow-wrap: break-word ;
  p {
    font-size: 100%;
  }
}

.commentActions {
  float: right;
  margin: 0.1em;
}

.commentDate {
  float: right;
}

#showImg {
  padding: 0;
  margin-bottom: 15px;
}

#map {
  height: 100%;
}

#mapDiv {
  padding: 0;
}


// COURTS - SHOW PAGE - ADD COMMENT FIELD
.addComment, .edtComment {
  background: #fff;
  border: 2px solid #5BC0DE;
  display: none;
  padding:0;
  &:hover {
    border: 2px solid #31B0D5;
    .btn-wide {
      border: none;
      background-color: #31B0D5;
    }
    .closeComment {
      opacity: .5;
    }
  }
  #textAreaComment-error{
    color: #C9302C;
    font-size: 0.9em;
    float: left;
    margin: 0 0 3px 3px;
  }
  textarea{
    padding-bottom: 0;
    width: 100%;
    border: none;
  }
  .form-control:focus {
    @include box-shdw;                                                                                        
  }
  .closeComment, {
    display: none;
    position: absolute;
    font-size: 3em;
    color: rgb(49, 176, 213);
  }
  .closeEdtComment {
    position: absolute;
    font-size: 3em;
    color: #eea236;
  }
  .btn-wide {
    border-radius: 0;
    border: none;
    &:hover {
      border: none;
    }
  }
  .form-group{
    margin-bottom: 0;
  }
}

.edtComment {
  border: 2px solid #f0ad4e;
  border-radius: 4px;
  margin-bottom: 20px;
  .btn-wide{
    border: none;
    background-color: #f0ad4e
  }
  .closeEdtComment {
    opacity: .5;
  }
  &:hover {
    border: 2px solid #eea236;
    .btn-wide {
      background-color: #eea236;
    }
    .closeEdtComment{
      opacity: .8;
    }
  }
}