#landingJumbotron {
  background: url("ball.jpg") fixed no-repeat; 
  background-position-y: 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  margin-bottom: 0;
}

#landingContainer {
  color: #d4d858;
  text-align: center;
  margin-top: 20vh;
  text-shadow: 1px 2px 3px black;
}

#landingContainer button {
  background-color: hsla(62, 62%, 60%, 0.8);
  border: none;
}

#landingContainer button:hover {
  background-color: hsla(62, 62%, 40%, 0.8);
}

#landingContainer h1 {
  font-size: 10em;
}

hr {
  /*background-color: hsla(62, 62%, 60%, 0.8);*/
  border: 0; 
  height: 1px;
  width: 45%;
  background-image: -webkit-linear-gradient(left, #d4d858, #cfd68d, #d4d858);
  background-image: -moz-linear-gradient(left, #d4d858, #cfd68d, #d4d858);
  background-image: -ms-linear-gradient(left, #d4d858, #cfd68d, #d4d858);
  background-image: -o-linear-gradient(left, #d4d858, #cfd68d, #d4d858); 
}

.navbar {
  margin-bottom: 1em;
}

.navbar.navbar-default {
  margin-bottom: 0;
}

#courtsMainJumbo {
  background: url("shot.jpg") no-repeat;
  background-size: cover;
  height: 80vh;
  margin-bottom: 0;
}

#courtsMainContainer>h1, #courtsMainContainer>p {
  color: #d6cf55;
  text-shadow: 1px 2px 3px black;
}

#courtsMainContainer>h1 {
  padding-top: 2em;
}

#courtsMainContainer>p {
  padding-top: 3em;
}

/*#courtsRow {
  padding-top: 5em;
}*/

.container {
  text-align: center;
}

.thumbnail>img {
  height: 200px;
}

#courtsContentJumbo {
  margin-top:0;
  margin-bottom:0;
}

.caption>p {
  font-size: 100%;
}

