$black-shadow: 1px 2px 3px black;

$default-color: white;


@mixin bg-cover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin box-shdw{
  box-shadow: unset;
  -webkit-box-shadow: unset;
}

body {
  padding-top: 50px;
}

#landingJumbotron {
  background: url("https://michal88-bucket.s3-eu-west-1.amazonaws.com/uploads/ball.jpg") fixed no-repeat;
  background-position-y: 30%;
  @include bg-cover;
  height: 100vh;
  margin-bottom: 0;
}


#landingContainer {
  color: $default-color;
  text-align: center;
  margin-top: 20vh;
  text-shadow: $black-shadow;
  button {
    background-color: darken($default-color, 10%);
    border: none;
    &:hover {
      background-color: darken($default-color, 20%); 
    }
  }
  h1 {
    font-size: 10em;
  }
}

#error_explanation {
  margin: 0 0 30px 0;
}

// input {
//   &:valid {
//     border: 2px solid green;
//   }
// }


// input:-webkit-autofill {
//     -webkit-box-shadow:0 0 0 50px white inset; Change the color to your own background color
// }
// input:-webkit-autofill:focus {
//     -webkit-box-shadow: 0 0 0 50px white inset;
// }

.showJumbo {
  padding-top: 10px;
}

.showHead {
  margin-bottom: 20px;
}


hr {
  /*background-color: hsla(62, 62%, 60%, 0.8);*/
  border: 0; 
  height: 1px;
  width: 45%;
  background: darken($default-color, 40%);
}

#loginButton, #signupButton, #closeSignupModal, #closeLoginModal {
  cursor: pointer;
}

.fa-check-circle-o {
  color: #449D44;
}

.fa-times-circle-o {
  color: #C9302C;
}

.fa {
  top: 3px;
}

em {
  text-align: left;
}

#courtsMainJumbo {
  background: url("https://michal88-bucket.s3-eu-west-1.amazonaws.com/uploads/shot.jpg") no-repeat;
  @include bg-cover;
  height: 80vh;
  margin-bottom: 0;
}

#courtsMainContainer {
  >h1, >p {
    color: white;
    text-shadow: $black-shadow;
  }
  >h1 {
    padding-top: 2em;
  }
  >p {
    padding-top: 3em;
  }
  // .courtButton {
  //   // background-color: darken($default-color, 40%);
  //   // border: none;
  //   &:hover {
  //     // background-color: darken($default-color, 60%);     
  //   }    
  // }
}

.container {
  text-align: center;
}

.no-center {
  text-align: left;
}

.thumbnail>img {
  height: 200px;
}

#courtsContentJumbo {
  margin-top:0;
  margin-bottom:0;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  &:hover, &:focus, &:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

// #flash-messages {
//   position: absolute;
//   width: 100%;
//   top: 70px;
// }

#flash-messages {
  background: #EEE;
  position: static;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.alert{
  margin-bottom: 0;
  margin-top: 20px;
}
.modal-content {
  text-align: center;
}

#emptyDiv {
  height: 22px;
}



.caption {
  p {
    font-size: 100%;
  }
  .courtParagraph {
    font-size: 21px;
  }
}


.well {
  padding-bottom: 2em;
  overflow-wrap: break-word ;
  p {
    font-size: 100%;
  }
}

.commentActions {
  float: right;
  margin: 0.1em;
}

.commentDate {
  float: right;
}

#showImg {
  padding: 0;
  margin-bottom: 15px;
  // float: left;
}

.thumbnail {
  width: 100%;
}

@media (min-width: 500px) {
    .thumbnail {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .thumbnail {
        width: 100%;
    }
    #showImg {
      padding: 0 15px;
      margin-bottom: 0;
    }
}

.addComment {
  // visibility: hidden;
  // opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  background: #fff;
  border: 2px solid rgb(49, 176, 213);
  display: none;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  padding:0;
  textarea{
    padding-bottom: 0;
    width: 100%;
    border: none;
  } &:focus {
    outline: 0;
  }
  .form-control:focus {
    @include box-shdw;                                                                                        
  }
  .close {
    display: none;
    position: absolute;
    left: 18.2em;
    top: 3em;
    font-size: 3em;
    color: rgb(49, 176, 213);
  }
  .btn {
    margin-bottom: 0.5em;
    // // transition: 5s easy-in-out;
    // &:hover {
    //   transform: scale(1.05, 1.05);
    // }
  }
  .new_comment {
    // box-shadow: inset 0 10px 10px rgba(100,100,0,0.075);
  }
  .form-group{
    margin-bottom: 0;
    // box-shadow: inset 0 10px 10px rgba(0,0,0,0.075);
  }
}


// #dim {
//     position:absolute;
//     top:0;
//     left:0;
//     width:100%;
//     height:100%;

//     background: url('semitransparent1x1.png');
//     background: rgba(0, 0, 0, 0.8);

//     z-index:100;
// }

// #addCommentButton {
//   transition: width 2s easy-in-out;
//   -webkit-transition: width 2s easy-in-out;
// }

// #addCommentButton:hover {
//   width: 200%;
//   // transform: scale(4,2);
// }

textarea {
  resize: none;
}

h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

#map {
  height: 100%;
}

#mapDiv {
  padding: 0;
}


.clear {
  clear: both;
}

.btn-wide {
  width: 100%;
}

// #court_location {
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   width: 99%;
// }